:root {
    --cartridge-base: rgb(255, 166, 0);
    --cartridge-sides: rgb(128, 83, 0);

    --crystal-1: red;
    --monitor-beige: rgb(247, 231, 219);
}

body {
    margin: 0;
    color: white;

    font-family: sans-serif;
}

#app {
    height: 100vh;
    width: 100vw;

    background-color: rgb(44, 44, 44);

    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;
}

#main-content {
    box-sizing: border-box;
    padding: 10px;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    perspective: 1000px;
    perspective-origin: 50% 50%;
}

#navbar {
    background-color: grey;
    color: black;
    padding: 5px;

    display: flex;
    position: relative;
}

#postlist-wrap {
    perspective: 500px;
    perspective-origin: 50% 50%;

    display: flex;
    flex-direction: column;

    position: relative;

    margin-top: -20vh;
}

#postlist {
    background-color: rgb(0, 0, 255);


    padding-bottom: 80px;

    transition: all 0.2s;

    height: 15vh;
}

#sign-in, #sign-up {
    position: absolute;
    bottom: 0;
    right: 0;

    background-color: grey;
    transform: translateY(-100%);

    padding: 5px;
    transition: all 0.2s steps(2, end);
}

#sign-in>h1, #sign-up>h1 {
    margin: 0px 0px 10px 0px;
}

#sign-in.shown, #sign-up.shown {
    transform: translateY(100%);
}

#sign-in.shown {
    transform: translateY(100%);
}

#sign-up {
    transform: translate(-100%, -100%)
}

#sign-up.shown {
    transform: translate(-100%, 100%)
}

.form-inputs {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
}

#monitor-back {
    height: 10vh;
    margin: 0px 5px -10px 5px;

    background-color: var(--monitor-beige);
    filter: brightness(0.7);

    clip-path: polygon(29% 0, 73% 0, 85% 15%, 95% 45%, 100% 100%, 0 100%, 7% 49%, 16% 16%);
}

#post {
    flex-grow: 1;
    max-height: 50vh;

    border: 20px solid var(--monitor-beige);
    border-radius: 20px;
    padding: 10px;

    transform-origin: top;
    transform: rotateX(-45deg);

    position: relative;

    overflow: scroll;
}

#computer-base {
    height: 15vh;
    margin: -70px 50px 0px 50px;

    margin-top: -70px;
    transform: rotateX(50deg);

    width: initial;
}

#computer-base>.cube__face {
    width: 100%;
    height: 100%;

    pointer-events: none;
    background-color: var(--cartridge-sides);
}

#computer-base>.cube__face--front {
    background-color: var(--monitor-beige);
    transform: rotateY(0deg) translateZ(100%) !important;

}

#computer-base>.cube__face--bottom {
    background-color: var(--monitor-beige);
    filter: brightness(0.7);
    transform: translateZ(0px) translateY(50%) rotateX(-90deg);
}

.post {
    cursor: pointer;
}



.post-title {
    position: absolute;
    top: 10%;
    left: 50%;

    transform: translateX(-50%);

    width: 6rem;
    height: 1.5rem;

    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    background-color: white;
    color: black;
}

.crystal-cap {
    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translate(-50%, 32%);

    height: 50%;
    width: 30%;
    background-color: black;

    clip-path: polygon(50% 0%, 100% 68%, 50% 83%, 0 68%);
}

#expanded-post {
    background-color: rgb(29, 29, 29);
    padding: 5px;

}

#comment-form {
    background-color: blue;
}

.comment {
    background-color: burlywood;
    color: black;
}

.cube-wrap {
    perspective: 600px;
}

.cube {
    width: 8rem;
    height: 8rem;
    position: relative;
    transform-style: preserve-3d;

    transition: all 0.3s;

    transform: translateZ(6rem) translateX(40%) rotateY(-80deg) rotateZ(70deg);
}

.cube:hover {
    transform: translateZ(6rem) rotateY(-20deg) rotateX(45deg);
}

.cube__face {
    position: absolute;
    width: 8rem;
    height: 8rem;
}

.cube__face--front {
    transform: rotateY(0deg) translateZ(4rem);
    background-color: var(--cartridge-base);
}

.cube__face--right {
    transform: rotateY(90deg) translateZ(7.1rem) translateX(-3rem);
    background-color: var(--cartridge-sides);

    width: 2rem;
}

.cube__face--back {
    transform: rotateY(180deg) translateZ(-2rem);
    background-color: var(--cartridge-sides);
}

.cube__face--left {
    transform: rotateY(-90deg) translateZ(1.1rem) translateX(3rem);
    background-color: var(--cartridge-sides);

    width: 2rem;
}

.cube__face--top {
    transform: rotateX(90deg) translateZ(1rem) translateY(3rem);
    background-color: var(--cartridge-sides);

    height: 2rem;
}

.cube__face--bottom {
    transform: rotateX(-90deg) translateZ(7rem) translateY(-3rem);
    background-color: var(--cartridge-sides);
    height: 2rem;
}

.crystal-box-left {
    position: absolute;


    bottom: 0;
    right: 50%;

    height: 60%;
    width: 35%;

    transform-origin: top right;
    transform: translateZ(4rem) translateY(15%) rotateX(20deg) rotateY(-45deg);

    background-color: rgb(175, 85, 0);

    clip-path: polygon(100% 0, 100% 100%, 36% 81%);
}

.crystal-box-right {
    position: absolute;
    bottom: 0;
    left: 50%;

    height: 60%;
    width: 35%;
    transform-origin: top left;
    transform: translateZ(4rem) translateY(15%) rotateX(20deg) rotateY(45deg);

    background-color: rgb(92, 76, 6);

    clip-path: polygon(0 0, 64% 81%, 0 100%);
}

.crystal-top-left {
    position: absolute;


    bottom: 0;
    right: 50%;

    height: 60%;
    width: 35%;

    transform-origin: top right;
    transform: translateZ(4rem) translateY(15%) rotateX(20deg) rotateY(-51deg);

    background-color: var(--crystal-1);

    clip-path: polygon(100% 0, 100% 100%, 36% 81%);
}

.crystal-top-right {
    position: absolute;
    bottom: 0;
    left: 50%;

    height: 60%;
    width: 35%;
    transform-origin: top left;
    transform: translateZ(4rem) translateY(15%) rotateX(20deg) rotateY(51deg);

    background-color: var(--crystal-1);
    filter: brightness(0.5);

    clip-path: polygon(0 0, 64% 81%, 0 100%);
}

.crystal-bottom-left {
    position: absolute;


    bottom: 0%;
    right: 50%;

    height: 35%;
    width: 38%;

    transform-origin: top right;
    transform: translateZ(5.6rem) translateY(115%) rotateX(-35deg) rotateY(-52deg);

    background-color: var(--crystal-1);
    filter: brightness(0.5);

    clip-path: polygon(100% 0, 100% 100%, 36% 19%);
}

.crystal-bottom-right {
    position: absolute;
    bottom: 0%;
    left: 50%;

    height: 35%;
    width: 38%;
    transform-origin: top left;
    transform: translateZ(5.6rem) translateY(115%) rotateX(-35deg) rotateY(52deg);

    background-color: var(--crystal-1);

    clip-path: polygon(0 0, 64% 19%, 0 100%);
}

.crystal-back-top-left {
    position: absolute;


    bottom: 0;
    right: 50%;

    height: 60%;
    width: 35%;

    transform-origin: top right;
    transform: translateZ(4rem) translateY(15%) rotateX(-20deg) rotateY(51deg);

    background-color: var(--crystal-1);
    filter: brightness(0.5);

    clip-path: polygon(100% 0, 100% 100%, 36% 81%);
}

.crystal-back-top-right {
    position: absolute;
    bottom: 0;
    left: 50%;

    height: 60%;
    width: 35%;
    transform-origin: top left;
    transform: translateZ(4rem) translateY(15%) rotateX(-20deg) rotateY(-51deg);

    background-color: var(--crystal-1);

    clip-path: polygon(0 0, 64% 81%, 0 100%);
}

.crystal-back-bottom-left {
    position: absolute;


    bottom: 0%;
    right: 50%;

    height: 35%;
    width: 38%;

    transform-origin: top right;
    transform: translateZ(2.4rem) translateY(115%) rotateX(35deg) rotateY(52deg);

    background-color: var(--crystal-1);

    clip-path: polygon(100% 0, 100% 100%, 36% 19%);
}

.crystal-back-bottom-right {
    position: absolute;
    bottom: 0%;
    left: 50%;

    height: 35%;
    width: 38%;
    transform-origin: top left;
    transform: translateZ(2.4rem) translateY(115%) rotateX(35deg) rotateY(-52deg);
    background-color: var(--crystal-1);
    filter: brightness(0.5);

    clip-path: polygon(0 0, 64% 19%, 0 100%);
}

#computer-post-list {
    display: flex;
    justify-content: space-between;

    position: absolute;
    z-index: 3;

    background-color: red;
    width: 100%;

    transform: translateZ(4rem) rotateX(-50deg);
}

#disk-controls {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    height: 15vh;
    width: 100%;
    background-color: rgba(255, 0, 0, 0);
    padding: 50px;
    margin-bottom: 2rem;

    transform: rotateX(25deg);

    perspective: 1000px;
    perspective-origin: 50% 50%;
}

#disk-controls>button {
    height: 6rem;
    flex-grow: 1;

    position: relative;
    box-shadow: -5px -5px 15px inset rgba(0, 0, 0, 0.493);
    background-color: khaki;

    transition: background-color 0.2s;
}

#disk-controls>button:active {
    box-shadow: 5px 5px 20px inset black;
}

#disk-controls>button:hover {
    background-color: rgb(219, 208, 102);
}

#disk-controls>button>div {
    font-size: 3rem;
}

#disk-controls>button:active>div {
    transform: translate(0.2rem, 0.1rem);
}


#disk-slot {
    height: 5rem;
    width: 9rem;
    background-color: black;
    position: relative;

    transform: translateY(20%);
    clip-path: polygon(100% 0, 100% 76%, 70% 77%, 48% 100%, 35% 76%, 0 75%, 0 0);

    transition: all 1s;
}

#disk-slot.locked {
    clip-path: polygon(100% 0, 55% 62%, 70% 77%, 48% 100%, 35% 76%, 49% 61%, 0 0);
}

.post-wrap {
    transition: top 1s, right 0.2s;
    position: absolute;

    transform: translate(0%);

    top: 50%;
}

.selected {
    position: absolute;
    top: 0.5rem;
    right: -1rem !important;

    transition: top 0.2s, right 1s;
}

.selected>.cube {
    transform: translateZ(4rem) translateY(-60%) translateX(-42%) rotateY(20deg) rotateX(-55deg);
    animation: click 1s;
}

@keyframes click {
    0% {
        transform: translateZ(4rem) translateY(-60%) translateX(-42%) rotateY(20deg) rotateX(-55deg);
    }

    70% {
        transform: translateZ(6rem) translateY(-60%) translateX(-42%) rotateY(20deg) rotateX(-55deg);
    }

    75% {
        transform: translateZ(6rem) translateY(-60%) translateX(-42%) rotateY(40deg) rotateX(-55deg);
    }

    90% {
        transform: translateZ(6rem) translateY(-60%) translateX(-42%) rotateY(0deg) rotateX(-40deg);
    }

    100% {
        transform: translateZ(4rem) translateY(-60%) translateX(-42%) rotateY(20deg) rotateX(-55deg);
    }
}

.decased {
    /* filter: opacity(0.6); */
}

.decased .cube__face, .decased .crystal-box-left, .decased .crystal-box-right {
    transition: all 1s cubic-bezier(0.1, 1, 0.2, -0.56);
}

.decased .cube__face--front {
    transform: rotateY(0deg) translateZ(100px);
    animation: frontfloat 2s linear infinite;
    animation-delay: 1s;
}

@keyframes frontfloat {
    from {
        transform: rotateY(0deg) translateZ(100px);
    }

    to {
        transform: rotateY(360deg) translateZ(100px);
    }
}

.decased .cube__face--right {
    transform: rotateY(90deg) translateZ(100px);
    animation: rightfloat 2s linear infinite;
    animation-delay: 1s;
}

@keyframes rightfloat {
    from {
        transform: rotateY(90deg) translateZ(100px)
    }

    to {
        transform: rotateY(450deg) translateZ(100px)
    }
}

.decased .cube__face--back {
    transform: rotateY(180deg) translateZ(100px);
    animation: backfloat 5s linear infinite;
    animation-delay: 1s;
}

@keyframes backfloat {
    from {
        transform: rotateY(180deg) translateZ(100px)
    }

    to {
        transform: rotateY(540deg) translateZ(100px)
    }
}

.decased .cube__face--left {
    transform: rotateY(-90deg) translateZ(100px);
    animation: leftfloat 5s linear infinite;
    animation-delay: 1s;
}

@keyframes leftfloat {
    from {
        transform: rotateY(-90deg) translateZ(100px);
    }

    to {
        transform: rotateY(-450deg) translateZ(100px);
    }
}

.decased .cube__face--top {
    transform: rotateX(90deg) translateZ(100px);
    animation: topfloat 3s linear infinite;
    animation-delay: 1s;
}

@keyframes topfloat {
    from {
        transform: rotateX(90deg) translateZ(100px);
    }

    to {
        transform: rotateX(450deg) translateZ(100px);
    }
}

.decased .cube__face--bottom {
    transform: rotateX(-90deg) translateZ(100px);
    animation: bottomfloat 3s linear infinite;
    animation-delay: 1s;
}

@keyframes bottomfloat {
    from {
        transform: rotateX(-90deg) translateZ(100px);
    }

    to {
        transform: rotateX(-450deg) translateZ(100px);
    }
}

.decased .crystal-box-left {
    transform: translateZ(6rem) translateY(15%) rotateX(20deg) rotateY(-45deg);
    animation: crystalleftfloat 3s linear infinite;
    animation-delay: 1s;
}

@keyframes crystalleftfloat {
    from {
        transform: translateZ(6rem) translateY(15%) rotateX(20deg) rotateY(-45deg);
    }

    to {
        transform: translateZ(6rem) translateY(15%) rotateX(20deg) rotateY(-405deg);
    }
}

.decased .crystal-box-right {
    transform: translateZ(6rem) translateY(15%) rotateX(20deg) rotateY(45deg);
    animation: crystalrightfloat 3s linear infinite;
    animation-delay: 1s;
}

@keyframes crystalrightfloat {
    from {
        transform: translateZ(6rem) translateY(15%) rotateX(20deg) rotateY(45deg);
    }

    to {
        transform: translateZ(6rem) translateY(15%) rotateX(20deg) rotateY(405deg);
    }
}

.decased .crystal1 {
    animation: crystalglow1 2s infinite;
}

@keyframes crystalglow1 {
    0% {
        filter: brightness(1)
    }

    50% {
        filter: brightness(0.5)
    }

    100% {
        filter: brightness(1)
    }
}

.decased .crystal2 {
    animation: crystalglow2 2s infinite;
}

@keyframes crystalglow2 {
    0% {
        filter: brightness(0.5)
    }

    50% {
        filter: brightness(0.2)
    }

    100% {
        filter: brightness(0.5)
    }
}

.open-btn-box {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
}

.open-btn-box>button {
    width: 100%;
    height: 100%;

    cursor: pointer;


    border: none;

    transform: rotateX(180deg);
    background-color: var(--cartridge-sides);
    box-shadow: -0px 0px 0px inset black;
    color: var(--cartridge-sides);
}

.selected .open-btn-box>button {
    transform: rotateX(0deg);
    background-color: white;
    color: black;
    box-shadow: -3px -3px 5px inset rgba(0, 0, 0, 0.493);

    animation: btnflip 1.7s;
}

@keyframes btnflip {
    0% {
        transform: rotateX(180deg);
        background-color: var(--cartridge-sides);
        color: var(--cartridge-sides);
        box-shadow: -0px -0px 0px inset rgba(0, 0, 0, 0.493);
    }

    60% {
        transform: rotateX(180deg);
        background-color: var(--cartridge-sides);
        color: var(--cartridge-sides);
        box-shadow: -0px -0px 0px inset rgba(0, 0, 0, 0.493);
    }

    100% {
        transform: rotateX(0deg);
        background-color: white;
        color: black;
        box-shadow: -3px -3px 5px inset rgba(0, 0, 0, 0.493);
    }
}

.selected .open-btn-box>button:hover {
    background-color: rgb(218, 218, 218);
}

.open-btn-box>button:active {
    box-shadow: -3px 3px 10px inset black;
}

.flickered {
    animation: newpost 0.5s steps(1, end);
}

@keyframes newpost {
    0% {filter: opacity(1); transform: translateX(50%);}

    33% {filter: opacity(0); transform: translateX(0%);}

    80% {filter: opacity(0.5); transform: translateX(25%);}

    100% {filter: opacity(1); transform: translateX(0%);}
}

.error {
    color: rgb(255, 43, 43);
    animation: error 2s steps(3, end) infinite;
}

@keyframes error {
    0%  {filter: opacity(1);}
    50%  {filter: opacity(0);}
    100%  {filter: opacity(1);}
}